<a href="https://colab.research.google.com/github/SirSirocco/ENG1111/blob/main/33A_Pedro_Barizon_2211350_Lista3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Passo 1

from google.colab import drive
import pandas as pd

drive.mount("/content/gdrive")

df = pd.read_csv("/content/gdrive/MyDrive/titanic/class_titanic.csv")

In [ ]:
# Passo 2

df.info() # O comando df.dtypes também funcionaria, mas achei a outra forma mais adequada.

In [ ]:
# Passo 3

# Escolhendo a coluna "Age":

print("# Antes das deleções:\n")

display(df["Age"])

df.dropna(subset = ["Age"], inplace = True)

print("\n%s\n" % (40 * "="))

print("# Depois das deleções:\n")

display(df["Age"])

In [ ]:
# Passo 4

# Cálculo da média da coluna "Age" já com os valores nulos removidos:

media = df["Age"].mean()

print("-> Média das idades: %g" % media)

In [ ]:
# Passo 5

# Removamos as linhas cujos valores de idade excedam a média em 40 ou mais unidades, criando, assim, um novo DataFrame:

new_df = df[df["Age"] < media + 40]

df.info()

print("\n%s\n" % (40 * "="))

new_df.info()

In [ ]:
# Passo 6

neodf = new_df[["PassengerId", "Pclass", "Name", "Sex", "Age"]].copy()

# Cria mais um novo DataFrame com base nas cinco primeiras colunas do anterior.

display(neodf)

In [ ]:
# Passo 7

from random import uniform

neodf["Neocolumn"] = neodf.apply(lambda row: (row.Age - row.Pclass) * uniform(0, 1), axis = 1)

# Adiciona uma nova coluna com base no critério estipulado.

display(neodf)

In [ ]:
# Passo 8

neodf = neodf.sample(frac = 1) # Randomiza a posição das linhas — inclusive a dos índices.

display(neodf)

In [ ]:
# Passo 9

# Organizemos o DataFrame com base na ordem alfabética da coluna "Name":

neodf = neodf.sort_values("Name")

display(neodf)

# Dessa forma, além de facilitarmos a busca por algum nome em específico, 
# será possível observarmos mais claramente prováveis relações de parentesco 
# entre os tripulantes do Titanic.

In [ ]:
# Passo 10

neodf.groupby("Pclass")["Name"].count() # Indica o número de passageiros por classe.

In [ ]:
# Passo 11

neodf["Neocolumn"] = neodf["Neocolumn"].map(lambda x: x ** 2)

# Ao substituirmos os valores da "Neocolumn", indiretamente atualizamos o DataFrame.

display(neodf)

In [16]:
# Passo 12

with open("/content/gdrive/MyDrive/arq_csv_titanic.csv", "w") as f:
  neodf.to_csv(f)

In [17]:
# Passo 13

with open("/content/gdrive/MyDrive/arq_json_titanic.json", "w") as f:
  neodf.to_json(f)

In [18]:
# Passo 14

# Vá até o GitHub e verá.